html { 
  background: url('/public/img/campus.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: transparent !important;
}

.home-container {
	height: 100vh;
	display: flex;
  flex-direction: column;
	position: relative;
}

.home-navbar {
	width: 100%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.50);
}

.home-navbar > div {
	min-width: 70px;
}

.home-navbar .ant-btn-ghost {
	color: #ffffff;
	border: none;
	margin: 0 10px;
}

.home-navbar #login-button {
	margin: 0 15px;
}

.home-container-page {
	flex-grow: 1;
	height: 100%;
	padding: 30px;
	bottom: 0;
}

.home-title {
	position: absolute;
	top: 50%;
}

.home-title h1 {
	color: #ffffff;
	font-size: 5em;
}

.suite-door .ant-row {
  margin: 16px -8px;
}
.suite-door .ant-row > div {
  padding: 8px;
  min-width: 300px;
}